<header>
<ul>
  <li><a [routerLink]="['/menuProducto']"[routerLinkActive]="['actived']">Productos</a></li>
  <li><a [routerLink]="['/menuPais']"[routerLinkActive]="['actived']">Paises</a></li>
  <li><a [routerLink]="['/menuImportado']"[routerLinkActive]="['actived']">Importaciones</a></li>
  <li><a [routerLink]="['/reporte']"[routerLinkActive]="['actived']">Top importaciones</a></li>
</ul>
</header>


<section id="content">
<router-outlet></router-outlet>
</section>

<footer>
  Tarea de base de datos 1
</footer>