<header>
<ul>
  <li><a [routerLink]="['/agregar']"[routerLinkActive]="['actived']">Agregar</a></li>
  <li><a [routerLink]="['/mostrar']"[routerLinkActive]="['actived']">Mostrar</a></li>
  <li><a [routerLink]="['/modificar']"[routerLinkActive]="['actived']">Modificar</a></li>
  <li><a [routerLink]="['/borrar']"[routerLinkActive]="['actived']">Borrar</a></li>
  <li><a [routerLink]="['/reporte']"[routerLinkActive]="['actived']">Top importaciones</a></li>
</ul>
</header>


<section id="content">
<router-outlet></router-outlet>
</section>

<footer>
  Tarea de base de datos 1
</footer>